/* Reset or Normalize (You may include a reset or normalize CSS file here) */
html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* Body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #daf8fe
}

/* Typography */
h1 {
    font-size: 36px;
    color: #333;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}
/* Titles */

.centered-title {
    position: relative;
    font-size: 36px;
    background-color: #f4a696;
    color: #000000;
    border-radius: 10px; /* Adjust the value to control the roundness of the edges */
    transition-duration: 0.4s;
    white-space: nowrap;
    padding: 10px 50px;
    display: inline-block; /* Make buttons sit next to each other horizontally */
    border: 2px solid black;
}

/* Buttons */
.centered-button {
    position: relative;
    font-size: 16px;
    background-color: #f4a696;
    color: #000000;
    border-radius: 10px; /* Adjust the value to control the roundness of the edges */
    cursor: pointer;
    transition-duration: 0.4s;
    white-space: nowrap;
    padding: 10px 20px;
    display: inline-block; /* Make buttons sit next to each other horizontally */
    margin: 0 calc((10vw - 20px * 2 * 3) / 4); /* Calculate margin based on square container width */
}
.centered-button:hover {
    background-color: #ffeeea;
  }
.centered-button:active {
    background-color: #FEE0DA;
  }


/* Background and Container */
#title-container {
    text-align: center; /* Center the buttons horizontally */
    width: 100%;
}
.centered-title-container {
    position: absolute;
    top: 15px; /* Adjust the distance from the top */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;   
}

#button-container {
    text-align: center; /* Center the buttons horizontally */
    width: 100%;
}
.centered-button-container {
    position: absolute;
    bottom: 15px; /* Adjust the distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    
}
#squarecontainer {
    display: flex; /* Use flexbox to align items */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    height: 50vh;
    width: 25vw;
    flex-wrap: wrap; /* Enable wrapping */
    position: absolute; /* Position the container */
    top: 37%; /* Align the top edge of the container with the middle of the viewport */
    left: 50%; /* Align the left edge of the container with the middle of the viewport */
    transform: translate(-50%, -50%); /* Adjust the position to center the container */
}

/* Links */
a {
    color: #007bff; /* Blue color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Media Queries */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}

/* Square */
.square {
    width: calc(50% - 25px); /* Adjust width to fit two squares per row */
    height: calc(50% - 25px);
    padding-bottom: calc(50% - 25px); /* Set the height based on the width (1:1 aspect ratio) */
    margin: 10px;
    display: none; /* Initially hide the squares */
    border-radius: 10px; /* Adjust the value to control the roundness of the corners */
    box-sizing: border-box; /* Include border and padding in the total width and height */
    border: 3px solid transparent; /* Initially set a transparent border */
    transition: all 0.3s ease; /* Smooth transition effect for changes */
}

.subsquare {
    width: calc(33% - 20px); /* Adjust width to fit three squares per row */
    height: calc(33% - 20px);
    padding-bottom: calc(33% - 20px); /* Set the height based on the width (1:1 aspect ratio) */
    margin: 10px;
    display: none; /* Initially hide the squares */
    border-radius: 10px; /* Adjust the value to control the roundness of the corners */
    box-sizing: border-box; /* Include border and padding in the total width and height */
    border: 3px solid transparent; /* Initially set a transparent border */
    transition: all 0.3s ease; /* Smooth transition effect for changes */
}


.square:hover {
    opacity: .75 !important
}

.subsquare:hover {
    opacity: .75 !important
}

.word-overlay {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 160%);
    color: white;
    font-weight: bold;
    text-align: center;
    z-index: 1; /* Ensure it appears above the squares */
    font-size: 40px; /* Adjust the font size as needed */
}


/* Animations */
.fade-in {
    animation: fadeInAnimation 0.2s ease-in forwards;
    opacity: 0;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



