body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333; /* Dark grey background */
}

.container {
    display: inline-flex;
    flex-wrap: wrap; /* Allow squares to wrap onto new lines */
    justify-content: center; /* Center squares horizontally */
    width: 100%; /* Optional: Adjust width as needed */
    max-width: 400px; /* Optional: Adjust max-width as needed */
    height: 80%; /* Optional: Adjust height as needed */
    max-height: 400px; /* Optional: Adjust max-height as needed */
    overflow: hidden; /* Prevent overflow */
  }

.container2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px; /* Adjust spacing between squares */
  width: 80%; /* Optional: Adjust width as needed */
  max-width: 400px; /* Optional: Adjust max-width as needed */
  height: 80%; /* Optional: Adjust height as needed */
  max-height: 400px; /* Optional: Adjust max-height as needed */
}

.square-container {
    position: relative;
    width: 40%; /* Each square-container takes 40% width of the container */
    height: 30%; /* Each square-container takes 30% height of the container (since there are 3 rows) */
    display: flex;
    justify-content: center;
    align-items: center;
  }

.square-container2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
    background-color: #ddd; /* Light grey background */
    width: 55%; 
    height: 75%; 
    border: 1px solid #999; /* Add border to squares */
    box-sizing: border-box; /* Include border and padding in width and height calculations */
  }

.square2 {
  background-color: #ddd; /* Light grey background */
  width: 100px; /* Adjust width of squares */
  height: 100px; /* Adjust height of squares */
  border: 1px solid #999; /* Add border to squares */
  box-sizing: border-box; /* Include border and padding in width and height calculations */
}

.word {
  color: white; /* Optional: Adjust color as needed */
  position: absolute; /* Position the words relative to the container */
  bottom: -10px; /* Adjust vertical position of the words */
  left: 50%; /* Center the words horizontally */
  transform: translateX(-50%); /* Center the words horizontally */
  white-space: nowrap; /* Prevent words from wrapping */
  overflow: hidden; /* Hide any overflow */
  text-overflow: ellipsis; /* Display an ellipsis (...) if the text overflows */
}

.square:hover {
    border: 5px solid black; /* Change border style when hovered */
}
.square2:hover {
  border: 5px solid black; /* Change border style when hovered */
}

  /* Different colors for each square */
  .square-container:nth-child(1) .square {
    background-color: var(--index-square-1-color);
  }
  .square-container:nth-child(2) .square {
    background-color: var(--index-square-2-color);
  }
  .square-container:nth-child(3) .square {
    background-color: var(--index-square-3-color);
  }
  .square-container:nth-child(4) .square {
    background-color: var(--index-square-4-color);
  }
  .square-container:nth-child(5) .square {
    background-color: var(--index-square-5-color);
  }
  .square-container:nth-child(6) .square {
    background-color: var(--index-square-6-color);
  }

  .back-arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    text-decoration: none;
    color: rgb(245, 245, 245);
  }

  :root {
    --index-square-1-color: #385B8C;
    --index-square-2-color: #BDD5EA;
    --index-square-3-color: #7B6DAA;
    --index-square-4-color: #547A5E;
    --index-square-5-color: #A52A2A;
    --index-square-6-color: #D9A65D;
  }